on init
    chown system system /sys/class/power_supply/battery/wc_tx_en
    chown system system /sys/class/power_supply/battery/wc_tx_stop_capacity
    chmod 0664 /sys/class/power_supply/battery/wc_tx_en
    chmod 0664 /sys/class/power_supply/battery/wc_tx_stop_capacity

service vendor.powershare-hal /vendor/bin/hw/vendor.lineage.powershare-service.samsung
    class hal
    user system
    group system
